@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: "Montserrat", sans-serif;
	color: var(--text-black);
}

:root {
	--text-black: #333332;
	--primary-cream: #FAF4E5;
	--primary-green: #97B1AB;
	--primary-lightgreen: #E8F3F1;
	--primary-darkgreen: #527179;
}

/* ~~~~~~~~~~~EXPERIENCE~~~~~~~~~~~ */

.experience {
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.experience-canvas {
	width: 100%;
	height: 100%;
	
}

/* ~~~~~~~~~~~ACTUAL PAGE~~~~~~~~~~~ */
.page {
	z-index: 99999;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.page-wrapper {
	position: relative;
}

/* ~~~~~~~~~~~THEME TOGGLE~~~~~~~~~~~ */
.toggle-bar{
	position: fixed;
	display: flex;
	opacity: 1;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	top: 48px;
	right: 48px;
	z-index: 99999999999999;
}

.sun-wrapper, 
.moon-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: var(--text-black);
}

.toggle-button{
	cursor: pointer;
	position: relative;
	width: 56px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-green);
	border-radius: 999px;
	margin: 0px 16px;
	border: none;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toggle-circle{
	position: absolute;
	left: 6px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: var(--primary-lightgreen);
	transition: all 0.2s ease-in-out;
}

.toggle-button:hover .toggle-circle{
	transform: scale(0.9);
}

.slide {
	left: 31px;
}

/* ~~~~~~~~~~~HERO SECTION~~~~~~~~~~~ */
.hero {
	width: 100vw;
	height: 100vh;
}

.hero-wrapper {
	position: relative;
	height: 100%;
	width: calc(100% - 160px);
	margin: 0 auto;
	max-width: 1100px;
}

.hero-main {
	position: absolute;
	bottom: 168px;
	left: 0;
}

.hero-main-title {
	font-size: 64px;
}

.hero-main-description {
	font-size: 18px;
}

/* ~~~~~~~~~~~SECTION PROPERTIES~~~~~~~~~~~ */
.section-intro-wrapper{
	position: relative;
	padding: 20% 5%;
	border-bottom: 2px solid var(--primary-darkgreen);
	padding-bottom: 400px;
}

.section-detail-wrapper{
	position: relative;
	padding: 20% 5%;
}

.section-heading {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.8;
	margin-top: 64px;
	color: var(--color-text);
}

.section-text {
	line-height: 2;
	margin-top: 18px;
	font-size: 16px;
	color: var(--color-text);
}

.section-intro-wrapper {
	position: relative;
	padding: 20% 5%;
	border-bottom: 2px solid var(--primary-green);
	padding-bottom: 400px;
}

.section-title {
	position: relative;
	color: var(--primary-green)
}

.section-title-text{
	display: block;
	font-size: 40px;
	font-weight: 500;
	transform-origin: left;
	transform: skewY(25deg);
	z-index: 5;
	text-transform: uppercase;
	color: var(--primary-darkgreen);
}

.styleOne,
.styleTwo,
.styleThree{
	position: absolute;
	display: block;
	width: 100%;
	max-width: 278px;
	height: 60px;
	border: 1px solid var(--primary-darkgreen);
	transform-origin: left;
	transform: skewY(-25deg);
}

.styleOne{
	top: 0px;
}

.styleTwo{
	top: 80px;
}

.styleThree{
	top: 80px;
	transform: skewY(25deg);
	background-color: var(--primary-darkgreen);
}

.section-number{
	position: absolute;
	bottom: 15px;
	right: 0;
	color: var(--primary-darkgreen);
	font-size: 24px;
}


/* ~~~~~~~~~~~SECTION FORMATTING~~~~~~~~~~~ */
.section-margin {
	height: 3000px;
	width: 100%;
}

.section{
	position: relative;
	width: 50%;
	padding: 1000px 4%;
	margin: 0;
	background-color: var(--primary-lightgreen);
	overflow: hidden;
}

.left {
	margin-right: auto;
}

.right {
	margin-left: auto;
}

.middle {
	margin: auto;
	width: 80%;
}