@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: "Montserrat", sans-serif;
}


h1,
section,
p,
span,
svg {
	transition: background-color 0.4s, color 0.4s;
} 

:root {
	/* light theme */
	--color-text-light: #333332;
	--color-background-light: #E8F3F1;
	--color-accent-light: #97B1AB;
	--color-button-light: #E8F3F1;

	--color-green-light: #97B1AB;
	--color-pink-light: #E5A1AA;
	--color-blue-light: #8395CD;
	--color-darkgreen-light: #527179;

	/* dark theme */
	--color-text-dark: #E8F3F1;
	--color-background-dark: #9cacd6;
	--color-accent-dark: #E8F3F1;
	--color-button-dark: #97B1AB;
}

.light-theme {
	--color-text: var(--color-text-light);
	--color-background: var(--color-background-light);
	--color-accent: var(--color-accent-light);
	--color-button: var(--color-button-light);

	--color-green: var(--color-green-light);
	--color-darkgreen: var(--color-darkgreen-light);
	--color-blue: var(--color-blue-light);
}

.dark-theme {
	--color-text: var(--color-text-dark);
	--color-background: var(--color-background-dark);
	--color-accent: var(--color-accent-dark);
	--color-button: var(--color-button-dark);
	
	--color-green: var(--color-text-dark);
	--color-darkgreen: var(--color-text-dark);
	--color-blue: var(--color-text-dark);
}

/* ~~~~~~~~~~~EXPERIENCE~~~~~~~~~~~ */

.experience {
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.experience-canvas {
	width: 100%;
	height: 100%;
	
}

/* ~~~~~~~~~~~ACTUAL PAGE~~~~~~~~~~~ */
.page {
	z-index: 99999;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.page-wrapper {
	position: relative;
}

/* ~~~~~~~~~~~THEME TOGGLE~~~~~~~~~~~ */
.toggle-bar{
	position: fixed;
	display: flex;
	opacity: 1;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	top: 48px;
	right: 48px;
	z-index: 99999999999999;
}

.sun-wrapper, 
.moon-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: var(--color-text);
}

.toggle-button{
	cursor: pointer;
	position: relative;
	width: 56px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-accent);
	border-radius: 999px;
	margin: 0px 16px;
	border: none;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toggle-circle{
	position: absolute;
	left: 6px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: var(--color-button);
	transition: all 0.2s ease-in-out;
}

.toggle-button:hover .toggle-circle{
	transform: scale(0.9);
}

.slide {
	left: 31px;
}

/* ~~~~~~~~~~~HERO SECTION~~~~~~~~~~~ */
.hero {
	width: 100vw;
	height: 100vh;
}

.hero-wrapper {
	position: relative;
	height: 100%;
	width: calc(100% - 160px);
	margin: 0 auto;
	max-width: 1100px;
	color: var(--color-text);
}

.hero-main {
	position: absolute;
	bottom: 168px;
	left: 0;
}

.hero-main-title {
	font-size: 64px;
}

.hero-main-description {
	font-size: 18px;
}

/* ~~~~~~~~~~~SECTION PROPERTIES~~~~~~~~~~~ */
.section-intro-wrapper{
	position: relative;
	padding: 20% 5%;
	border-bottom: 2px solid var(--color-accent);
	padding-bottom: 400px;
}

.section-detail-wrapper{
	position: relative;
	padding: 20% 5%;
}

.section-heading {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.8;
	margin-top: 64px;
	color: var(--color-text);
}

.section-text {
	line-height: 2;
	margin-top: 18px;
	font-size: 16px;
	color: var(--color-text);
}

.section-intro-wrapper {
	position: relative;
	padding: 20% 5%;
	border-bottom: 2px solid var(--color-accent);
	padding-bottom: 400px;
}

.section-title {
	position: relative;
	color: var(--color-accent);
}

.section-title-text{
	display: block;
	font-size: 40px;
	font-weight: 500;
	transform-origin: left;
	transform: skewY(25deg);
	z-index: 5;
	text-transform: uppercase;
	color: var(--color-accent);
}

.styleOne,
.styleTwo,
.styleThree{
	position: absolute;
	display: block;
	width: 100%;
	max-width: 278px;
	height: 60px;
	border: 1px solid var(--color-accent);
	transform-origin: left;
	transform: skewY(-25deg);
}

.styleOne{
	top: 0px;
}

.styleTwo{
	top: 80px;
}

.styleThree{
	top: 80px;
	transform: skewY(25deg);
	background-color: var(--color-accent);
}

.section-number{
	position: absolute;
	bottom: 15px;
	right: 0;
	color: var(--color-accent);
	font-size: 24px;
}


/* ~~~~~~~~~~~SECTION FORMATTING~~~~~~~~~~~ */
.section-margin {
	height: 3000px;
	width: 100%;
}

.section{
	position: relative;
	width: 50%;
	padding: 1000px 4%;
	margin: 0;
	background-color: var(--color-background);
	overflow: hidden;
}

.left{
	margin-right: auto;
	border-top-right-radius: 700px 700px;
	border-bottom-right-radius: 0px 0px;
}

.right{
	margin-left: auto;
	border-top-left-radius: 700px 700px;
	border-bottom-left-radius: 0px 0px;
}

  /* Progress bars */
.progress-wrapper{
	height: 0;
	width: 12px;
	z-index: 9999;
}

.progress-bar-wrapper-left{
	position: absolute;
	top: 0;
	left: 0;
}

.progress-bar-wrapper-right{
	position: absolute;
	top: 0;
	right: 0;
}

.progress-bar{
	height: 100vh;
	width: 100%;
	background-color: var(--color-green-light);
	transform-origin: top center;
	transform: scaleY(1);
}


/* ~~~~~~~~~~~COLOUR OVERRIDING~~~~~~~~~~~ */
.blue-text{
	color: var(--color-blue)
}

.blue-border{
	border-color: var(--color-blue);
}

.blue-background{
background-color: var(--color-blue);
}

.green-text{
	color: var(--color-green)
}

.green-border{
	border-color: var(--color-green);
}

.green-background{
	background-color: var(--color-green);
}

/* ~~~~~~~~~~~MEDIA QUERIES~~~~~~~~~~~ */
@media (max-width: 799px) {
	.section {
		width: 100%;
	}
	.progress-bar-wrapper-left {
		right: 0;
		left: auto;
	}
}


/* ~~~~~~~~~~~MISCELLANEOUS~~~~~~~~~~~ */
.list {
	padding-left: 20px;
}

.list-item {
	padding-left: 20px;
}