* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: "A-OTF Shin Go Pro R";
}

/* ~~~~~~~~~~~EXPERIENCE~~~~~~~~~~~ */

.experience {
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.experience-canvas {
	width: 100%;
	height: 100%;
}

/* ~~~~~~~~~~~ACTUAL PAGE~~~~~~~~~~~ */
.page {
	z-index: 99999;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.page-wrapper {
	position: relative;
}

/* ~~~~~~~~~~~HERO SECTION~~~~~~~~~~~ */
.hero {
	width: 100vw;
	height: 100vh;
}

.hero-wrapper {
	position: relative;
	height: 100%;
	width: 80%;
	margin: 0 auto;
	max-width: 1100px;
}

.hero-main {
	position: absolute;
	bottom: 168px;
	left: 0;
}

.hero-main-title {
	font-family: "A-OTF Shin Go Pro B";
	font-size: 64px;
}

.hero-main-description {
	font-family: "A-OTF Shin Go Pro L";
	font-size: 18px;
	margin-top: -25px;
	margin-left: 10px;
}

@font-face {
    font-family: 'A-OTF Shin Go Pro R';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro R'), url('AOTFShinGoProRegular.woff') format('woff');
    }
    

@font-face {
    font-family: 'A-OTF Shin Go Pro EL';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro EL'), url('AOTFShinGoProExLight.woff') format('woff');
    }
    

@font-face {
    font-family: 'A-OTF Shin Go Pro L';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro L'), url('AOTFShinGoProLight.woff') format('woff');
    }
    

@font-face {
    font-family: 'A-OTF Shin Go Pro M';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro M'), url('AOTFShinGoProMedium.woff') format('woff');
    }
    

@font-face {
    font-family: 'A-OTF Shin Go Pro DB';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro DB'), url('AOTFShinGoProDeBold.woff') format('woff');
    }
    

@font-face {
    font-family: 'A-OTF Shin Go Pro B';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro B'), url('AOTFShinGoProBold.woff') format('woff');
    }
    

@font-face {
    font-family: 'A-OTF Shin Go Pro H';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro H'), url('AOTFShinGoProHeavy.woff') format('woff');
    }