@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: "Montserrat", sans-serif;
}

/* ~~~~~~~~~~~EXPERIENCE~~~~~~~~~~~ */

.experience {
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.experience-canvas {
	width: 100%;
	height: 100%;
}

/* ~~~~~~~~~~~ACTUAL PAGE~~~~~~~~~~~ */
.page {
	z-index: 99999;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.page-wrapper {
	position: relative;
}

/* ~~~~~~~~~~~HERO SECTION~~~~~~~~~~~ */
.hero {
	width: 100vw;
	height: 100vh;
}

.hero-wrapper {
	position: relative;
	height: 100%;
	width: calc(100% - 160px);
	margin: 0 auto;
	max-width: 1100px;
}

.hero-main {
	position: absolute;
	bottom: 168px;
	left: 0;
}

.hero-main-title {
	font-size: 64px;
}

.hero-main-description {
	font-size: 18px;
}
